/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .col-6 {
    width: 50%;
    padding: 10px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card p {
    margin: 0;
  }
  
  /* Estilos específicos */
  .section-1 {
    background-color: #ffdcdc;
  }
  
  .section-2 {
    background-color: #dcffdc;
  }
  
  .section-3 {
    text-align: center;
    background-color: #dcddff;
    padding: 40px;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff9999;
  }
  
  input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  h2 {
    color: #ff6666;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #ff6666;
  }
  
  /* Estilos para los resultados */
  p[id^="pro-"] {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
  }
  
  /* Media queries para hacer el diseño responsivo */
  @media screen and (max-width: 768px) {
    .col-6 {
      width: 100%;
    }
  }
  